/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

* {
  list-style: none;
  font-family: 'Montserrat', serif;
}

body {
  margin: 0;
}

header {
  background-color: #555;
}

#app-title {
  margin: 0;
  padding: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.page-title {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 24px;
  margin: 12px;
}

nav {
  width: 100vw;
  background-color: #555;
  position: fixed;
  bottom: 0;
}

.nav-link-wrapper {
  background-color: #555;
}

a.nav-link {
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.nav-spacing-fix {
  height: 10vh;
}