/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

* {
  list-style: none;
  font-family: 'Montserrat', serif;
}

body {
  margin: 0;
}

header {
  background-color: #a79c62;
}

#app-title {
  margin: 0;
  padding: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.page-title {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.shopping-list {
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

.shopping-list .item {
  background-color: #eee;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px #aaa;
}