<header>
  <h1 id="app-title">{{title}}</h1>
</header>
<router-outlet></router-outlet>
<div class="nav-spacing-fix"></div>
<nav>
  <div class="container-fluid">
    <div class="row nav-link-wrapper">
      <div class="col">
        <a routerLink="/browse" routerLinkActive="active" class="nav-link">Browse</a>
      </div>
      <div class="col">
        <a routerLink="/my-list" routerLinkActive="active" class="nav-link">My List</a>
      </div>
      <div class="col">
        <a routerLink="/search" routerLinkActive="active" class="nav-link">Search</a>
      </div>
    </div>
  </div>
</nav>