.browse-list {
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

.browse-list li {
  padding: 5px;
}

.browse-list .item {
  padding: 3vw 0 2vw 0;
  background-color: #eee;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px #aaa;
}

.browse-list .item img {
  width: 50%;
  margin-bottom: 2vw;
}